* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #e4f2f2;

  margin: 0px;
}
.wave{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.parent {
  padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(6, auto);
  gap: 29px;
}
.menu-izquierda{
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card{
    width: 270px;
}
.usuario{
    text-align: center;
    background-color: #3c5654;
    border-radius: 20px 30px 0px 0px;
    padding: 50px 30px;
}
.usuario img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid rgb(188, 188, 3);
}
.usuario h1{
    font-size: 20px;
}
.usuario p{
    font-size: 15px;
}
.btn-menu{
    display: flex;
    flex-direction: column;
    width: 270px;
    padding: 20px 0px 20px 5px;
    background-color: #425c5a;
    gap: 15px;
}
.btn-menu a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px 0px 0px 20px;
    transition: background-color 0.3s ease;
}
.btn-menu a.activo{
    background-color: #e4f2f2;
    color:#4d615d;
}
.usuarios-activos{
    font-size: 15px;
    color: rgb(188, 188, 3);
    background-color: #425c5a;
    padding: 5px 20px;
}
.variasfotos{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.variasfotos img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid #3c5654;
}
.imagen-final{
    background-color: #425c5a;
    border-radius: 0px 0px 30px 20px;
}
.imagen-final img{
    width: 250px;
    height: 100px;
}
.informacion-derecha{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 30px;
}
.arriba{
    display: flex;
    gap: 20px;
}
.lp {
  font-size: 10px;
}
.imgn {
  width: 100px;
}
.imgnwrld {
  width: 150px;
}
p {
  font-weight: bold;
}
.div9 {
  grid-row: span 6;
}

.div10 {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding: 25px 1px 25px 15px;
  color: white;
  border-radius: 30px;
  background-color: #c89c32;
}
.div11 {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding: 25px 1px 25px 15px;
  color: white;
  border-radius: 30px;
  background-color: #425c5a;
}
.div12 {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding: 25px 1px 25px 15px;
  color: white;
  border-radius: 30px;
  background-color: #425c5a;
}

.div13 {
  padding: 25px 20px;
  border-radius: 30px;
  color: #61706f;
  background-color: #fafafa;
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.trips-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; 
  gap: 10px;
  font-size: 12px;
  color: #99a; 
}

.trips-list {
  display: flex;
  flex-direction: column;
}

.trip-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; 
  gap: 10px;
  align-items: center; 
  padding: 15px 0; 
  border-top: 2px dashed #e4f2f2; 
}

.member-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.total-circle {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  background-color: #c89c32;
  color: white;
  display: grid;
  place-items: center;
  font-size: 13px;
  font-weight: bold;
}

.member-text p {
  font-weight: bold;
  font-size: 13px; 
  color: #3c5654;
}

.member-text .lp {
  color: #99a;
  font-weight: normal;
}


.total-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #c89c32; 
  color: white;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
}


.trip-row > p {
  font-size: 13px; 
  color: #61706f;
  font-weight: normal; 
}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%
}
.div14 {
  color: #61706f;
  width: 250px;
  border-radius: 30px;
  background-color: #fafafa;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.div15 {
  color: #61706f;
  border-radius: 30px;
  background-color: #fafafa;
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 4;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.div16 {
  color: #61706f;
  width: 480px;
  border-radius: 30px;
  background-color: #fafafa;
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  flex-direction: column;
  gap: 30px;
  padding: 10px 1px 5px 15px;
}
.Schedule {
  width: 465px;
}
